version: '3.8'

services: 
  db:
    image: postgres:13
    container_name: auditlog_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auditlogs
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    
volumes:
  pg_data: