version: '3.8'

services: 
  app:
    build: .
    container_name: auditlog_cleaner
    restart: always
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      CLEANUP_INTERVAL_SECONDS: ${CLEANUP_INTERVAL_SECONDS}
      MAX_LOG_AGE_SECONDS: ${MAX_LOG_AGE_SECONDS}